{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<!--  Note: Correctly Complete  -->
<!--  HAS PROPER JS TO SEND INFO TO /admin/ page for a moderator to see -->
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span>Contact</span>
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="row align-items-end mb-50">
                            <div class="col-lg-4 mb-lg-0 mb-md-5 mb-sm-5">
                                <h4 class="mb-20 text-brand">How can help you ?</h4>
                                <h1 class="mb-15">Let us know how we can help you</h1>
                                <p class="mb-30 fs-6">Business Email: <a href="mailto:shelfspacemarket@gmail.com" class="text-brand">shelfspacemarket@gmail.com</a></p>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6 mb-4">
                                        <h5 class="mb-20">01. Visit Feedback</h5>
                                        <p>Have thoughts, suggestions, or feedback? We'd love to hear from you!
                                            Feel free to use the contact form below!</p>
                                    </div>
                                    <div class="col-lg-6 mb-4">
                                        <h5 class="mb-20">02. Forgot Your Password</h5>
                                        <p>If you forgot your password contact 📧 shelfspacemarket@gmail.com. Please do not send any personal information over email</p>
                                    </div>
                                    <div class="col-lg-6 mb-lg-0 mb-4">
                                        <h5 class="mb-20">03. Order Status</h5>
                                        <p>We recommend you contact your vendor directly first. If you still have question, feel free to contact us at our email or contact form below.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5 class="mb-20">04. Payment Issues</h5>
                                        <p>Having trouble with a payment? Don't worry we're here to help our customers anytime. Share additional details about the isue as it'll help us find a solution quicker.</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="mb-50">
                            <div class="row mb-60">
                                <div class="col-md-4 mb-4 mb-md-0">
                                    <h4 class="mb-15 text-brand">Shelf Space Office</h4>
                                    Union, 07033, NJ<br />
                                    <abbr title="Phone">Phone:</abbr> (123) 456-7890<br />
                                    <abbr title="Email">Email: shelfspacemarket@gmail.com</abbr><br />
                                    <a href="https://www.google.com/maps/place/Green+Lane+Academic+Building+%5BGLAB%5D/@40.6828246,-74.2388303,17z/data=!3m1!4b1!4m6!3m5!1s0x89c3ad435b4c0dfd:0x95ccbf1c2ffea977!8m2!3d40.6828246!4d-74.2362554!16s%2Fg%2F11c56rb2c0?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" class="btn btn-sm font-weight-bold text-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-5"></i>View map</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="contact-from-area padding-20-row-col">
                                        <h5 class="text-brand mb-10">Contact form</h5>
                                        <h2 class="mb-10">Drop Us a Line</h2>
                                        <p class="text-muted mb-30 font-sm contact_us_p">Reminder: Don't share any personal information</p>
                                        <h4 class="text-success" id="message-response"></h4>
                                        <form class="contact-form-style mt-30" id="contact-form-ajax"  method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="input-style mb-20">
                                                        <input name="full_name" id="full_name"  placeholder="First Name" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="input-style mb-20">
                                                        <input name="email" id="email"  placeholder="Your Email" type="email" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="input-style mb-20">
                                                        <input name="telephone"  id="phone" placeholder="Your Phone" type="tel" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="input-style mb-20">
                                                        <input name="subject"  id="subject" placeholder="Subject" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="textarea-style mb-30">
                                                        <textarea name="message" id="message"  placeholder="Message"></textarea>
                                                    </div>
                                                    <button id="contact-form-btn" class="suebmit submit-auto-width" type="submit">Send message</button>
                                                </div>
                                            </div>
                                        </form>
                                        <p class="form-messege"></p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
