{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Dashboard
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fi-rs-user mr-10"></i>Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'userauths:sign-out' %}"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content account dashboard-content pl-50">
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">My Profile</h3>
                                            </div>
                                            <div class="card-body mb-2" style="display: flex; align-items: center; gap: 10px;">
                                                <div>
                                                    {% if user_profile.image %}
                                                    <span><img src="{{ user_profile.image.url }}" style="width: 150px; object-fit: cover; border-radius:50%; height:150px;" alt=""></span>
                                                    {% else %}
                                                    <span><img src="https://images.icon-icons.com/1378/PNG/512/avatardefault_92824.png" style="width: 150px; object-fit: cover; border-radius:50%; height:150px;" alt=""></span>
                                                    {% endif %}
                                                </div>
                                                <div>
                                                    <span><input class="mb-2" type="text" value="Name - {{ user_profile.full_name }}"></span>
                                                    <span><input class="mb-2" type="text" value="Bio - {{ user_profile.bio }}"></span>
                                                    <span><input class="mb-2" type="text" value="Phone - {{ user_profile.phone }}"></span>
                                                    {% if user_profile.verified == True %}
                                                    <div class="p-4 border rounded">
                                                        <span>Verified</span> <span> <i class="fas fa-check-circle"></i> </span>
                                                    </div>
                                                    {% else %}
                                                    <div class="p-4 border rounded">
                                                        <span>Not verified </span> <span> <i class="fas fa-x"></i> </span>
                                                    </div>
                                                    {% endif %}
                                                    <div class="p-4 border rounded">
                                                        <a href="{% url 'userauths:profile-update' %}"class="btn btn-success">Edit Profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h1 class="mb-0">Welcome to your Dashboard {{request.user|title}}!</h1>
                                                <br>
                                                <h4>Here you can find information regarding: </h4>
                                                <br>
                                                <p>Profile Information </p>
                                                <p>Order Details </p>
                                                <p>Shipping Addresses </p>
                                            </div>
                                            <div class="card-body">
                                                <h3>{{profile.full_Name}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">Your Orders</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Paid</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for o in orderList %}
                                                            <tr>
                                                                <td>INVOICE-#{{o.id}}</td> <!--  ORDER -->
                                                                <td>{{o.order_date}}</td> <!--  ORDER DATE -->
                                                                <td>{{o.product_status|title}}</td><!--  PRODUCT STATUS -->
                                                                <!-- BELOW PRINTS OUT AS TRUE OR FALSE  -->
                                                                <!-- FIX THIS BY WRITING IF STATEMENT  -->
                                                                {% if o.paid_status == True %}
                                                                <td><i class="fas fa-check-circle text-success" ></i>✔</td>
                                                                <td>{{o.paid_status|title}}</td><!--  PAID STATUS -->
                                                                {% else %}
                                                                <td class="text-danger"><b><span>X</span></b></td>
                                                                {% endif %}
                                                                <td>${{o.price}}</td> <!--  OVERALL PRICE -->
                                                                <td><a href="{% url 'core:order-detail' o.id %}" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row">
                                            {% for a in address %}
                                            <div class="col-lg-6">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h3 class="mb-0">Address {{ forloop.counter }}</h3>
                                                    </div>
                                                    <div class="card-body border rounded">
                                                        <address>
                                                            <p>{{ a.address }}</p>
                                                            <p>{{ a.mobile }}</p>
                                                        </address>
                                                        {% if a.status %}
                                                            <i data-address-id="{{ a.id }}" class="fa fa-check-circle text-success check check{{ a.id }}"></i>
                                                            <button data-address-id="{{ a.id }}" style="display: none;" class="btn make-default-address action_btn button{{ a.id }}">Make Default Address</button>
                                                        {% else %}
                                                            <i data-address-id="{{ a.id }}" style="display: none;" class="fa fa-check-circle text-success check check{{ a.id }}"></i>
                                                            <button data-address-id="{{ a.id }}" class="btn make-default-address action_btn button{{ a.id }}">Make Default Address</button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div>
                                                <form class="mb-4" method="POST" > {% csrf_token %}
                                                    <div class="card-hdeader">
                                                        <br><br>
                                                        <h2>Add Address</h2>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <input placeholder="Address" required="" class="form-control" name="address" type="text" />
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <input placeholder="Phone" required="" class="form-control" name="mobile" />
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit"
                                                            value="Submit">Save Address</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}