<!--   CAN BE ACCESSED BY CLICKING SHOP ALL TAB ON BASE   -->>
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    <head>
    <!--############# CUSTOM FILTER SLIDER WRITTEN WITH CSS #############-->
        <style>
            input[type="range"] {
            -webkit-appearance: none;
            margin-right: 15px;
            height: 7px;
            background: rgba(255, 255, 255, 0.6);
            border-radius: 5px;
            background-image: linear-gradient(#2685cd, #2685cd);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            }
            input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: #2685cd;
            cursor: ew-resize;
            box-shadow: 0 0 2px 0 #555;
            transition: background .3s ease-in-out;
            }
            input[type=range]::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
            }
            </style>
    </head>
    <!--############# CUSTOM FILTER SLIDER WRITTEN WITH CSS #############-->

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Shop <span></span> All Books
                </div>
            </div>
        </div>
        <div class="container mb-30 mt-30">
            <div class="row">
                <div class="col-lg-12">
                    <a class="shop-filter-toogle" href="#">
                        <span class="fi-rs-filter mr-5"></span>
                        Filters
                        <i class="fi-rs-angle-small-down angle-down"></i>
                        <i class="fi-rs-angle-small-up angle-up"></i>
                    </a>
                <div class="col-12">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>We have <strong class="text-brand">{{products.count}}</strong> books for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span>
                                            {% if current_sort == 'featured' %}Featured
                                            {% elif current_sort == 'price_low_to_high' %}Price: Low to High
                                            {% elif current_sort == 'price_high_to_low' %}Price: High to Low
                                            {% elif current_sort == 'release_date' %}Release Date
                                            {% else %}Featured{% endif %}
                                            <i class="fi-rs-angle-small-down"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="{% if current_sort == 'featured' %}active{% endif %}" href="?sort=featured">Featured</a></li>
                                        <li><a class="{% if current_sort == 'price_low_to_high' %}active{% endif %}" href="?sort=price_low_to_high">Price: Low to High</a></li>
                                        <li><a class="{% if current_sort == 'price_high_to_low' %}active{% endif %}" href="?sort=price_high_to_low">Price: High to Low</a></li>
                                        <li><a class="{% if current_sort == 'release_date' %}active{% endif %}" href="?sort=release_date">Release Date</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row product-grid" id = "filted-products">
                        {% for p in products %}
                        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="{% url 'core:product-detail' p.pid %}">
                                            <img class="default-img" src="{{ p.image.url }}" alt="" />
                                            <img class="hover-img" src="{{ p.image.url }}" alt="" />
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="Add To Wishlist" class="action-btn" href="{url 'core:wishlist'}"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Quick view" class="action-btn" href="{% url 'core:product-detail' p.pid %}"><i class="fi-rs-eye"></i></a>
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">-{{p.get_percentage|floatformat:0}}</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="{% url 'core:product-detail' p.pid %}">{{ p.category.title }}</a>
                                    </div>
                                    <h2><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h2>
                                    <div>
                                        {% if p.vendor %}
                                        <span class="font-small text-muted">By <a href="{% url 'core:vendor-detail' p.vendor.vid %}">{{ p.vendor.vendor_title }}</a></span>
                                        {% else %}
                                        <span class="font-small text-muted">No vendor information</span>
                                        {% endif %}
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            <span>$</span> <span class="current-product-price">{{p.price}}</span>
                                            <span class="old-price">${{p.old_price}}</span>
                                        </div>
                                        <div class="add-cart">
                                            <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{p.id}}">
                                            <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                            <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                            <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                            <input type="hidden" class="product-title-{{p.id}}" value="{{p.title}}">
                                            <button class="add add-to-cart-btn" data-index="{{p.id}}"><i class="fi-rs-shopping-cart mr-5"></i>Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="shop-product-fillter-header">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-2 mb-sm-2">
                                <div class="card">
                                    <h5 class="mb-30">By Categories</h5>
                                    <div class="categories-dropdown-wrap font-heading">
                                        <ul>
                                            {% for c in categories %}
                                            <li>
                                                <input data-filter = "category"  class = "form-check-input filter-checkbox" type = "checkbox" name="checkbox" id = "exampleCheckbox2" value = "{{c.id}}" />
                                                &nbsp;&nbsp;
                                                <a href="{% url 'core:category-product-list' c.cid %}"> <img src="{{c.image.url}}" alt="" />{{c.title}}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-2 mb-sm-2">
                                <div class="card">
                                    <h5 class="mb-30">By Vendors</h5>
                                    <div class="d-flex">
                                        <div class="customeee-checkbox mr-80">
                                            {% for v in vendors %}
                                            <input class="form-check-input filter-checkbox" data-filter = "vendor" type="checkbox" name="checkbox" id="exampleCheckbox1" value="{{v.id}}" />
                                            <label class="form-check-label" for="exampleCheckbox1"><span>{{v.vendor_title}}</span></label>
                                            <br/>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-2 mb-sm-2">
                                <div class="card">
                                    <h5 class="mb-30">By Tags</h5>
                                    <div class="sidebar-widget widget-tags">
                                        <ul class="tags-list">
                                            <li class="hover-up">
                                                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Anime</a>
                                            </li>
                                            <li class="hover-up">
                                                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Science</a>
                                            </li>
                                            <li class="hover-up">
                                                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Computer</a>
                                            </li>
                                            <li class="hover-up">
                                                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Entrepreneur</a>
                                            </li>
                                            <li class="hover-up mr-0">
                                                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Philosophy</a>
                                            </li>
                                            <li class="hover-up mr-0">
                                                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>History</a>
                                            </li>
                                            <li class="hover-up mr-0 mb-0">
                                                <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Law</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-5 mb-sm-5">
                                <div class="card">
                                    <h5 class="mb-10">By Price</h5>
                                    <!--    CUSTOM PRICE SLIDER   -->
                                    <div class="sidebar-widget price_range range">
                                        <div class="price-filter mb-20">
                                            <div class="price-filter-inner">
                                                <!-- <div id="slider-range" class="mb-20"></div> -->
                                                 <input type = "range" name = "range" value = "{{  min_max_price.price__min|floatformat:2  }}" id = "range" min = "{{min_max_price.price__min}}" max = "{{min_max_price.price__max}}" oninput = "max_price.value=this.value">
                                                <div class="d-flex justify-content-between">
                                                    <div class="caption">From: <strong id="slider-range-value1" class="text-brand"> {{min_max_price.price__min|floatformat:2}}</strong></div>
                                                    <div class="caption">To: <strong id="slider-range-value2" class="text-brand"> {{min_max_price.price_max|floatformat:2}}</strong></div>
                                                </div>
                                                <input type = "number" name = "" value = "{{  min_max_price.price__min|floatformat:2  }}" id = "max_price" min = "{{min_max_price.price__min}}" max = "{{min_max_price.price__max}}" placeholder = "Current Price" onkeyup = "range.value=this.value">
                                            </div>
                                        </div>
                                        <!--    CUSTOM PRICE SLIDER   -->
                                        <!---     FILTERING PRICE BOX     -->
                                        <div class="custome-checkbox">
                                            <button class="btn-mt-20 w-100" type="button" id="price-filter-btn">Filter</button>
                                            <!-- <h3>{{min_max_price}}</h3> -->
                                        </div>
                                        <!---     FILTERING PRICE BOX     -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    

{% endblock content %}